    <section>
      <h1 id="temperature"></h1>
      <p>
        <button id="temperature-up">+</button>
        <button id="temperature-down">-</button>
        <button id="temperature-reset">RESET</button>
        <button id="save">SAVE</button>
        <h3>Power Saving Mode: <span id="power-saving-status">ON</span></h3>
        <button id="powersaving-on">ON</button>
        <button id="powersaving-off">OFF</button>
      </p>
    </section>
    <section>
      <h2>Current temperature: <span id="current-temperature" name="currenttemperature"></span></h2>
      <h4>Current weather: <span id="weather-description"></span></h4>
      <form id='select-city'>
        <input id='current-city' type='text' name="city" placeholder="Enter a city"></input>
        <input id='submit' type='submit'></input>
      </form>
    </section>
