<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="scripts/thermostat.js"></script>
<script src="scripts/interface.js"></script>
<link rel='stylesheet' href='styles/interface.css'>
  <head>
    <title>Thermostat</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
